/* Common Styles */
body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

a {
  color: seashell;
  text-decoration: underline;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

/* Header Nav */
header {
  display: flex;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;
  align-items: center;
}
header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}
/* Mission Stuff */

#mission {
  height: 700px;
  background-image: url("../Images/img-mission-background.jpg");
  padding-top: 70px;
}

#mission .content {
  width: 100%;
  margin: auto;
  opacity: 1.0;
  background-color: black;
}

#mission h2 {
  display: block;
  width: 100%;
  height: 50px
  background-color: black;

}

#mission h4{
  margin-top: 0px;
  margin-bottom: 0px;
}

/*Featured Teas*/

#items {
  display: inline-flex
  flex-direction: row;
  height: 700px;
  margin: auto;
  padding-top: 70px;
  align-items: center;

}
.flex-container.items {
  width: 1200px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 10px;

}

.item span {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  text-align: center;

}

/* Locations */

#locations {
  background-image: url("../Images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
  display: inline-block;
}

.flex-container.locations {
  padding-top: 5px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
}

.location {
  display: flex;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  flex-direction: column;
  justify-content: center;
}

/* Footer */
#contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
